@model IEnumerable<Item>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <select id="itemSelect" style="width: 300px;">
    <option value=""></option>
</select>
</div>
